<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/style/font.css">
    <link rel="stylesheet" href="/resources/style/style.css">

    <meta name="keywords" content="hack,club,hackclub,shop,merch,swag">
    <meta name="robots" content="index, follow">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="30 days">

    <meta name="author" content="awdev">

    <title>eCommerce Template</title>
    <meta name="title" content="eCommerce Template">
    <meta property="og:title" content="eCommerce Template">

    <meta name="description" content="Just testing some stuff out for eCommerce.">
    <meta property="og:description" content="Just testing some stuff out for eCommerce.">

    <meta property="og:type" content="website">
    <meta property="og:url" content="http://hackclub.com">

    <meta name="theme-color" content="#ec3750">

    <meta property="og:image" content="https://awdev.codes/hcshop_banner.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="https://awdev.codes/hcshop_banner.png">

    <link href="/resources/images/logo/bag.svg" rel="icon">

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <script src="/resources/script/global.js"></script>
</head>

<body>
    <div class="header-area">
        <!--
        <nav>
            <a href="https://hackclub.com/clubs/">Clubs</a>
            <a href="https://hackclub.com/fiscal-sponsorship/">Fiscal Sponsorship</a>
            <a href="https://hackclub.com/hackathons/">Hackathons</a>
            <a href="https://hackclub.com/slack">Community</a>
            <a href="https://scrapbook.hackclub.com/">Scrapbook</a>
            <a href="https://boreal.hackclub.com/">The Boreal Express</a>
            <a href="https://hackclub.com/onboard/">Onboard</a>
        </nav>-->
        <h1 class="main-head-text">eCommerce Template</h1>
        <span class="main-sub-text">We've got everything you need.</span>
    </div>
    <div class="shop-area">
        <h1>All products</h1>
        <section class="postcards" id="allproducts">
        </section>
    </div>
    <script src="/resources/script/script.js"></script>
</body>

</html>